Before starting, next toggle code lines have been run in the computer terminal:

In [ ]:
#docker start course-mysql
#mysql -h 127.0.0.1 -P 3306 --protocol=tcp -u root -p # Password for last command is: root

Other necessary toggled code lines have been run in this jupyter notebook in order to be able to work with databases:

In [ ]:
#%load_ext sql
#%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

I decided to write all the information needed to understand problem resolving in each problem description, as I thought it will keep everything more organized. Thus, no explanations were included into code chunks as toggled comments. Some code lines are if it is wanted to see some of the information retrieved from code line commands at some point of the script.

Problem 1: In order to retrieve all AGI Locus Codes from files "Germplasm.tsv" and "LocusGene.tsv", a function named "AGI_Locus_code_compiler()" has been created. This function takes two argument. The first one (which is called "file_name") must be a string and must equal the name of the file it is wanted to read. Second argument (which is called "separator") must be a string representing the separator character from the read file containing rows and columns (for instance, tsv and csv files have this structure). In this case, since a tsv file is being read, "\t" separator will be used. This function returns a list of all AGI Locus codes from one single file. Finally, a condition is represented so both AGI Locus codes lists are compared. AGI_Locus_code_compiler() allows to extract every AGI Locus Code from this kind of files, despite where it is located in the file line or row. This is due to the utilisation of regular expressions.

In [ ]:
def AGI_Locus_Code_compiler(file_name, separator):
    import re
    file = open(file_name, "r")
    file_column = []
    for line in file.readlines():
        line = line.rstrip()
        line.split(separator)
        matchObj = re.search(r'AT.G.{6}', line)
        if matchObj != None:
            file_column.append(matchObj.group())
        else:
            None
    file.close()
    return file_column

#print(problem_1("Germplasm.tsv"))
#print(problem_1("LocusGene.tsv"))

if AGI_Locus_Code_compiler("Germplasm.tsv", "\t") == AGI_Locus_Code_compiler("LocusGene.tsv", "\t"):
    print("Both files contain the same AGI Locus codes and in the same order. Thus, they are in the same sequence.")
else:
    print("Both files do not contain equivalent AGI locus, so they are not in the same sequence.")

Problem 2: First, a database for this exam has been created using MySQL commands. In this problem, four different functions have been used. These functions are: "CONNECT()", "tsv_and_csv_reader()", "create_table_command()", and "sql_command()". Functions and variables nomenclature does not coincide with Python general conventions (for example, unmodifiable variables are uppercase, etc.). CONNECT() just takes a database name as a string as its argument. It returns a value needed for Python database manipulation commands. tsv_and_csv_reader() was created to solve exercises previous to this exam. It takes four different arguments: "file_name" (a string that equals the name of the file that is wanted to be read), "split_sign" (a string representing the separator character from the read file that is necessary to be indicated), "keep_lines_as_lists" (a boolean value that will decide if function output becomes either a list containing multiple lists, each one of them representing one line from the read file, or a single string), and separator (if "keep_lines_as_lists" value equals True, then this argument can equal any string; if "keep_lines_as_lists" value equals False, this string argument will be intercalated into the output single string file words). Thus, tsv_and_csv_reader() returns either a sublists list or a single string, both containing all the information from read file. This function became really useful for this problems solving, especially due to the sublists list output. create_table_command() just returns a string equal to a "CREATE TABLE" command from MySQL, considering new table name argument as a string, and the extracted table header from a read file which will be its second argument in the form of a sublists list (tsv_and_csv_reader() is needed right here). This "CREATE TABLE" command dictate column creation either containing the primary key values or variable character values. Finally, sql_command() takes two argument, which are the value output by CONNECT() function as it first argument and a string equaling a MySQL command, which in this case will come from create_table_command(). sql_command() just executes changes in the chosen database. This funciton combination allow to create any table by indicating just the database name, the file name and the separator used in that kind of file.

In [ ]:
%sql create database exam_2;
%sql use exam_2;

In [ ]:
def CONNECT(DB):
    import pymysql.cursors
    CONNECTION = pymysql.connect(host="localhost",
                                user="root",
                                password="root",
                                db=DB,
                                charset="utf8mb4",
                                cursorclass=pymysql.cursors.DictCursor)
    return CONNECTION
            
def tsv_and_csv_reader(file_name, split_sign, keep_lines_as_lists, separator):
    file = open(file_name, "r")
    text = ""
    text_2 = []
    if keep_lines_as_lists == False:
        for line in file:
            line = line.rstrip()
            line = line.split(split_sign)
            text = text + separator.join(line) + "\n"
        text = text [0:len(text)-1]
        return text
        file_name.close()
    if keep_lines_as_lists == True:
        for line in file:
            line = line.rstrip()
            line = line.split(split_sign)
            text_2.append(line)
        return text_2
        file_name.close()

def create_table_command(table_name, listed_table):
    sql_create_table_command_1 = "CREATE TABLE " + table_name + """ (id INTEGER NOT NULL AUTO_INCREMENT PRIMARY
                            KEY, """
    sql_create_table_command_2 = ""
    for element in listed_table[0]:
        if element != listed_table[0][len(listed_table[0])-1]:
            sql_create_table_command_2 = sql_create_table_command_2 + element + """ VARCHAR(10000) NOT NULL, """
        else:
            sql_create_table_command_2 = sql_create_table_command_2 + element + """ VARCHAR(10000) NOT NULL);"""

    final_sql_create_table_command = sql_create_table_command_1 + sql_create_table_command_2
    return final_sql_create_table_command
        
def sql_command(Connection, SQL_COMMAND):
    try:
        with Connection.cursor() as cursor:
            sql = SQL_COMMAND
            cursor.execute(sql)
            Connection.commit()
    finally:
            Connection.close()

connection = CONNECT("exam_2")
germplasm = tsv_and_csv_reader(file_name = "Germplasm.tsv", split_sign = "\t", keep_lines_as_lists = True, separator = "")
sql_command(connection, create_table_command("germplasm", germplasm))

connection = CONNECT("exam_2")
locusgene = tsv_and_csv_reader(file_name = "LocusGene.tsv", split_sign = "\t", keep_lines_as_lists = True, separator = "")
sql_command(connection, create_table_command("locus_gene", locusgene))

#%sql DESCRIBE germplasm;
#%sql DESCRIBE locus_gene;

Problem 3: tsv_and_csv_reader() and CONNECT() functions have already been described in the previous problem description. In order to solve this problem, both functions have been used. Plus, insert_command() and execute_all_insert_commands() functions have been utilised. insert_command() function is needed if execute_all_insert_commands() is wanted to be used. insert_command() function just creates a string representing a INSERT INTO command from MySQL. execute_all_insert_commands() iterates insert_command() and commits its changes. execute_all_insert_commands() also takes the database name you want to fill and the file information that will be inserted in the form of a sublists list (again, tsv_and_csv_reader() is required). This allows us to fill a database indicating its name, a file name and the separator used in that file.

In [ ]:
def tsv_and_csv_reader(file_name, split_sign, keep_lines_as_lists, separator):
    file = open(file_name, "r")
    text = ""
    text_2 = []
    if keep_lines_as_lists == False:
        for line in file:
            line = line.rstrip()
            line = line.split(split_sign)
            text = text + separator.join(line) + "\n"
        text = text [0:len(text)-1]
        return text
        file_name.close()
    if keep_lines_as_lists == True:
        for line in file:
            line = line.rstrip()
            line = line.split(split_sign)
            text_2.append(line)
        return text_2
        file_name.close()
    
def CONNECT(DB):
    import pymysql.cursors
    CONNECTION = pymysql.connect(host="localhost",
                                user="root",
                                password="root",
                                db=DB,
                                charset="utf8mb4",
                                cursorclass=pymysql.cursors.DictCursor)
    return CONNECTION

def insert_command(table_name, listed_table, number):
    sql_insert_command_1 = "INSERT INTO " + table_name + """(""" + ", ".join(listed_table[0]) + """) VALUES (\'"""
    sql_insert_command_2 = ""
    for element in listed_table:
        sql_insert_command_2 = sql_insert_command_1 + "\', \'".join(listed_table[number]) + """\');"""
    return sql_insert_command_2

def execute_all_insert_commands(Connection, table_name, listed_table):
    number = 0
    try:
        with Connection.cursor() as cursor:
            for List in listed_table:
                if List != listed_table[len(listed_table)-1]: 
                    sql = insert_command(table_name, listed_table, number+1)
                    cursor.execute(sql)
                    number = number + 1
                    connection.commit()
                else:
                    break
    finally:
        Connection.close()

connection = CONNECT("exam_2")
germplasm = tsv_and_csv_reader(file_name = "Germplasm.tsv", split_sign = "\t", keep_lines_as_lists = True, separator = ",")
execute_all_insert_commands(connection, "germplasm", germplasm)

connection = CONNECT("exam_2")
locusgene = tsv_and_csv_reader(file_name = "LocusGene.tsv", split_sign = "\t", keep_lines_as_lists = True, separator = ",")
execute_all_insert_commands(connection, "locus_gene", locusgene)
    
#%sql SELECT * FROM germplasm;
#%sql SELECT * FROM locus_gene;

Problem 4: writer() and checker() functions were retrieved from suggested problems previous to this exam, as well as SQL_TABLE_READER() function. writer() takes the file name you are editing as a string argument, a string containing the information you want to add to your edited file and a string argument which will represent if it is wanted to write from scratch ("w") or to append ("a") the information given by the string argument containing the information you want to add to a file. checker() just takes a file name as a string as its argument and will show the information that it contains. SQL_TABLE_READER() takes CONNECT() returned value as a argument, as well as a MySQL query command in form of an input string and a column separator as a string. This function will return a string containing the information retrieved from a database. In essence, the arguments needed in order to do so are the database name, a MySQL query command and a column separator (e. g., "\t" and ","). Especific MySQL query commands from this language have been used: IN operator was used to retrive a multiple single lines query (i. e., in this case, an output where only rows with gene names "SKOR" and "MAA3" were shown); and LIKE operator and MySQL regular expressions were utilized for retrieving chromosomes genes information. Thus, explicit information from orignal files had to be known in order to query. However, through the original file reading, this information could have been extracted without even knowning about database tables headers if a solution similar to that from problem 1 (just searching for a sequence of charaacters) had been given (which would have been a more abstracted solution).

In [ ]:
def CONNECT(DB):
    import pymysql.cursors
    CONNECTION = pymysql.connect(host="localhost",
                                user="root",
                                password="root",
                                db=DB,
                                charset="utf8mb4",
                                cursorclass=pymysql.cursors.DictCursor)
    return CONNECTION

def SQL_TABLE_READER(Connection, SQL_COMMAND, SEPARATOR):
    try:
        with Connection.cursor() as cursor:
            sql = SQL_COMMAND
            cursor.execute(sql)
            results = cursor.fetchall()
            for result in results:
                header = SEPARATOR.join(list(result.keys()))
                break
            table = ""
            for result in results:
                table = table + (SEPARATOR.join(str(x) for x in list(result.values()))) + "\n"
            table = header + "\n" + table + "\n"
            return table
    finally:
            Connection.close()

def writer(FILE_NAME, TEXT, action):
    NEW_FILE = open(FILE_NAME, action)
    NEW_FILE.write(TEXT)
    NEW_FILE.close()

def checker(FILE_NAME):
    checkcontent = open(FILE_NAME, "r")
    return print(checkcontent.read())
    checkcontent.close()


connection = CONNECT("exam_2")
table_1 = SQL_TABLE_READER(Connection = connection, SQL_COMMAND = "SELECT * FROM germplasm INNER JOIN locus_gene ON germplasm.id = locus_gene.id", SEPARATOR = "\t")
writer("exam_2.txt", table_1, "w")

connection = CONNECT("exam_2")
table_2 = SQL_TABLE_READER(Connection = connection, SQL_COMMAND = "SELECT * FROM germplasm INNER JOIN locus_gene ON germplasm.id = locus_gene.id WHERE locus_gene.Gene IN ('SKOR', 'MAA3');", SEPARATOR = "\t")
writer("exam_2.txt", table_2, "a")

connection = CONNECT("exam_2")
n = 1
while n < 6:
    table_3 = SQL_TABLE_READER(Connection = connection, SQL_COMMAND = "SELECT COUNT(*) AS 'Number of Chromosome " + str(n) + " Genes' FROM germplasm WHERE germplasm.Locus LIKE '%AT" + str(n) + "G%';", SEPARATOR = "\t")
    writer("exam_2.txt", table_3, "a")
    n = n + 1
    connection = CONNECT("exam_2")

table_4 = SQL_TABLE_READER(Connection = connection, SQL_COMMAND = "SELECT AVG(ProteinLength) FROM locus_gene" , SEPARATOR = "\t")
writer("exam_2.txt", table_4, "a")

checker("exam_2.txt")

Next toggled code line can be run in jupyter notebook in order to erase the created database:

In [ ]:
#%sql drop database exam_2;

Last toggled code lines can be run in the opened terminals:

In [ ]:
#exit
#docker stop course-mysql